.button-auto-loop, .swiper-button-prev, .swiper-button-next, .button-controller, .hidden
{
    display: none;
}
.image--hide
{
    display: none;
}
.feature-benefit__swiper
{
    display: none;
}
.image__preview 
{
    display: none;
}
.indicator 
{
    display: none;
}